<h1>Welcome to my cool new page</h1>
<p>Fingers crossed the Sox beat the Angels!</p>

<%= form_tag("/sms/send", method: "post") do %>
<%= label_tag(:q, "Insert message to text;") %> 
<%= text_field_tag(:q) %>
<%= submit_tag("Send") %>
<% end %>
